body {
	font-family: sans-serif;
	background: #EAEAEA;
}

.app_element {
	width: 80%;
}

div#app_area {
	text-align: center;
	max-width: 50em;
	margin: auto;
	border-radius: 25px;
	padding: 2em;
	background: #FFFFFF;
}
