body {
	background: #EAEAEA;
}

body, table, input, select {
	font-family: sans-serif;
	font-size: 1.1em;
}

div#options {
	text-align: center;
	margin: auto;
	width: 80%;
}

div#app_area {
	text-align: center;
	max-width: 50em;
	margin: auto;
	border-radius: 25px;
	padding: 2em;
	background: #FFFFFF;
}


td {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


table {
	width: 100%;
	text-align: center;
	background-color: #EAEAEA;
	border-collapse:collapse;
    border-radius: 15px;

}

input {
	border-radius: 5px;
}

input.app_element {
	width: 80%;
}
